@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}

body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  min-height: 100vh;
  gap: 1.4rem;
  font-family: 'Cormorant Garamond', serif;
  max-width: 100vw;
}

/* Background video settings */
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2;
  overflow-y: auto;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); 
  z-index: -1; 
}


/*  Top navigation bar settings */
header {
  width: 100%;
  height: clamp(5vh, 14.5vh, 16vh);
  padding: 0.5rem;
  z-index: 1000;
  position: relative;
  display: flex;
}

  .headerContainer {
    width: 100%;
    align-items: center;
    font-weight: bolder;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }

  .logo img {
    width: 13vw;
    height: 8vw;
    object-fit: contain;
    padding: 0;
    margin: 0;
  }

  .mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: green;
    margin: 5px 0;
    transition: all 0.7s ease;
  }

  .navMenu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    gap: clamp(1rem, 2vw, 2rem);
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navMenu li {
    position: relative;
  }

  .navMenu li a {
    display: block;
    padding: clamp(0.3rem, 1vw, 0.5rem) clamp(0.5rem, 1.5vw, 1rem);
    color: white;
    font-weight: 100;
    text-decoration: none;
    font-style: italic;
  }

  .navMenu li {
    background: linear-gradient(to right, #28A745, #007BFF);
    border-radius: 15px;
  }

  .navMenu li:hover {
    background: transparent;
    transition: all 1.4s ease-in;
  }

  .navMenu li a:hover {
    color: darkblue;
    transition: color 0.7s ease-in;
  }

  /* Style the drop down list */
  .dropdown{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(to right, #28A745, #007BFF);
    border-radius: 0.7vw;
    padding: 0;
    width: clamp(150px, 20vw, 200px);
    z-index: 1200;
    transform: translateY(-15px);
    opacity: 0;
    visibility: hidden;
    overflow: visible;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 1.5);
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out, transform 0.8s ease-in-out;
  }

  .dropdown:hover {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .dropdown.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mainNav .navMenu .dropdownContainer:hover .dropdown, 
  .mainNav .navMenu .dropdownContainer:focus-within .dropdown, 
  .dropdown:hover  {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown ul .subDropdownContainer:hover .subDropdown,
  .dropdown ul .subDropdownContainer:focus-within .subDropdown,
  .subDropdown:hover {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .dropdown ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .dropdown ul li a {
    padding: 1rem;
    display: block;
  }

  .dropdown ul li a:hover {
    color: darkblue;
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
    z-index: 2000;
  }

  .subDropdownContainer {
    position: relative;
  }

  .subDropdown {
    display: block;
    position: absolute;
    top: 0;
    left: 200px;
    background: linear-gradient(to right, #28A745, #007BFF);
    border-radius: 0.7vw;
    padding: 0;
    width: clamp(150px, 20vw, 200px);
    z-index: 1201;
    transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    overflow: visible;
    box-shadow: 0 15px 24px rgba(0, 0, 0, 1.5);
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out, transform 0.8s ease-in-out;
  }

  .subDropdownContainer:hover .subDropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .subDropdown:hover {
    opacity: 1;
    visibility: visible;
    display: block;
  }

  .subDropdown.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .subDropdown ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .subDropdown ul li a {
    padding: 1rem;
    display: block;
  }

  .subDropdown ul li a:hover {
    color: darkblue;
  }

  @media (max-width: 768px) {
    body, html {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow: auto;
      min-height: 100%;
      overflow-x: hidden;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 20px;
      font-family: 'Cormorant Garamond', serif;
      max-width: 100vw;
    }
    .logo img {
      width: 26vw;
      height: 16vw;
      object-fit: contain;
    }
    .navMenu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background: linear-gradient(to right, #28A745, #007BFF);
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
      transition: right 1.2s ease-in-out;
      z-index: 1000;
      box-shadow: 0 15px 24px rgba(0, 0, 0, 1.5);
    }

    body.menuOpen {
      overflow: hidden;
      position: fixed;
      width: 100%;
      height: 100%;
    }
    
    .navMenu.active {
      right: 0;
    }
    
    .hamburger {
      display: block;
      margin-left: auto;
      order: 2;
      padding: 10px 25vw;
    }
    
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }

    .dropdownContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    
    .subDropdownContainer {
      width: 100%;
    }

    .dropdown {
      position: static;
      width: 100%;
      text-align: center;
      display: none;
      padding: 0;
      margin: 0;
    }

    .subDropdown {
      position: relative;
      width: 100%;
      text-align: center;
      display: none;
      padding: 0;
      margin: 0;
    }
    
    .dropdownContainer:hover .dropdown,
    .subDropdownContainer:hover .subDropdown {
      display: none;
    }
    
    .dropdownContainer.active .dropdown,
    .subDropdownContainer.active .subDropdown {
      display: block;
    }
    
  }


/* Settings for the header section inside the untitled container */
.header {
  position: absolute;
  z-index: 50;
  top: 20vh;
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px;
  background-color: transparent;
  width: 100vw;
}

.header h1 {
  font-size: clamp(2.1rem, 8vw, 3rem);
  color: lightgreen;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  display: flex;
}

.header p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #ffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
}

.untitled {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 120vh;
  width: 100%;
  animation: rotateHue infinite 30s linear;
  animation-delay: 2.5s/6; 
  overflow: hidden;
  background: black;
  z-index: 0;
  align-self: center;
  object-fit: fill;
  justify-content: center;
  display: flex;
  border-top: 5px solid transparent;
  border-color: transparent;
}

  .untitled__shutters {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 2;
    animation: rotateFrame 8s linear infinite; 
  
  }
@keyframes rotateFrame {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); } 
}
    
    .untitled__shutters:before, .untitled__shutters:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      background-color: skyblue;
      pointer-events: auto; 
    
    }
    .untitled__shutters:before {
      bottom: 50%;
      animation: openTop 5s infinite; 
    }
@keyframes openTop {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); 
  }
  40% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  }
  70% {
    transform: translate3d(-50%, -65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  } 
}
    .untitled__shutters:after {
      top: 50%;
      animation: openBottom 5s infinite; 
    }
@keyframes openBottom {
  0% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.8, 0, 0.1, 1); 
  }
  40% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  }
  70% {
    transform: translate3d(-50%, 65vmax, 0);
    animation-timing-functon: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  }
  100% {
    transform: translate3d(-50%, 0, 0);
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); 
  } 
}
  .untitled__slides {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent; 
  }
  .untitled__slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: showHideSlide infinite 30s;
    animation-fill-mode: forwards; 
  }

  .untitled__slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@keyframes showHideSlide {
  0% {
    opacity: 1;
    pointer-events: auto;
    z-index: 1; 
  }
  40% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; 
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1; 
  } 
}
    .untitled__slide:nth-child(1) {
      animation-delay: 0s; 
    }
    .untitled__slide:nth-child(2) {
      animation-delay: 5s; 
    }
    .untitled__slide:nth-child(3) {
      animation-delay: 10s; 
    }
    .untitled__slide:nth-child(4) {
      animation-delay: 15s; 
    }
    .untitled__slide:nth-child(5) {
        animation-delay: 20s; 
      }
    .untitled__slide:nth-child(6) {
          animation-delay: 25s; 
        }

  .untitled__slideBg {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-color: skyblue;
    background-blend-mode: normal;
    opacity: 1;
    z-index: -1;
    animation: bgInOut 5s infinite; 
  }
@keyframes bgInOut {
  0% {
    transform: rotate(-45deg) scale(1.1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); 
  }
  33% {
    transform: rotate(0deg); 
  }
  50% {
    transform: rotate(0deg); 
  }
  66% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); 
  }
  100% {
    transform: rotate(45deg) scale(0.9); 
  } 
}
  .untitled__slideContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: white;
    font-family: "Abril Fatface", sans-serif;
    line-height: 0.8;
    letter-spacing: -0.025em;
    z-index: 2;
    opacity: 1;
    text-shadow: 0 0 0.5em rgba(179, 64, 26, 0.25);
    mix-blend-mode: lighten;
  }
    .untitled__slideContent span {
      display: block;
      font-size: 15vmin; 
    }

  .introductionContainer {
    position: relative;
    grid-template-rows: auto auto;
  }

  .otherTitles {
      position: relative;
      font-family: Arial, sans-serif;
      font-size: clamp(1rem, 5vw, 2rem);
      text-align: center;
      z-index: 1;
      color: #ffff;
      display: block;
      width: 100%;
      padding: 1%;
      text-decoration: overline;
      align-items: center;
      justify-content: center;
    }

  /* Control how the long paragraphs in the website will behave */
  .p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    line-height: 1.6;
    text-align: center;
    display: block;
    width: 85%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    overflow-wrap: break-word; 
    word-break: normal; 
    white-space: normal;
    background-color: transparent;
    position: relative;
    z-index: 0;
  }

  .p a {
    text-decoration: none;
    color: #fff;
  }

  .p a:hover {
    color: lightgreen;
  }

/* Style the titles in the website*/
.title {
  text-align: left;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the announcement section in the home page */
.announcementContainer {
  position: relative;
  grid-template-rows: auto auto;
}

.announcementsSection {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  color: #ffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  display: block;
  z-index: 0;

}

.announcement {
  display: flex;
  align-items: center;
  margin-bottom: clamp(0.8rem, 1.5rem, 2rem);
}

.announcement p {
  font-size: clamp(1rem, 4vw, 1.5rem);
  padding: 20px;
  line-height: 1.4;
}

/* Manage how the content of the website looks */
.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  padding: 2rem;
  z-index: 1;
}

.otherTitle h2 {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: clamp(1rem, 6vw, 2rem);
  text-align: center;
  z-index: 1;
  color: #ffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  display: block;
  width: 90vw;
  left: 5%;
  padding: 1%;
  background-color: transparent;
}

/*provide an overlay for the slideshow */
.slideshowOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.aboutUsContainer {
  position: relative;
}

.chairmansRemarks {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.chairmansRemarks h1 {
  color: skyblue;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin-bottom: 1rem;
  text-align: center;
  padding-top: 30px;
  text-decoration: overline;
}

.chairmansRemarks p {
  font-size: clamp(0.9rem, 1.4vw, 1.2rem);
  line-height: 1.6;
  font-style: italic;
  margin: 0;
  color: #ffff;
  text-align: center;
}
  /* Bottom Bar Container */
.bottomBarContainer {
  position: relative;
  background: linear-gradient(to right,  black, rgb(105, 103, 103));
  color: #ffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  padding: 2rem 0;
}

.bottomBar {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.linksContainer {
  display: flex;
  gap: 5vw;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.links,
.usefulLinks,
.locationInfo {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
}

.links a,
.usefulLinks a,
.locationInfo p {
  display: block;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  color: #00CFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  padding: 0.5rem 0;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.links a:hover,
.usefulLinks a:hover {
  background-color: transparent;
  color: lightgreen;
}

.links h3,
.usefulLinks h3,
.locationInfo h3 {
  padding-bottom: 1rem;
  font-size: large;
  text-align: center;
  text-decoration: underline;
}

.underLogoContent {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  margin-bottom: 1rem;
}

/* Social Icons */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  row-gap: 1.8rem;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 20px;
  left: 20%;
  transform: translateX(50%);
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 10px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 5px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

/* style the icons */
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #128c7e;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .linksContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  .links,
  .usefulLinks,
  .locationInfo {
    width: 100%;
    text-align: center;
  }

  .links a,
  .usefulLinks a,
  .locationInfo p {
    padding: 0.5rem 0;
  }
}

.passportImage {
  position: relative;
  padding-top: 50px;
}

.passportImage img {
  object-fit: cover;
  height: 26vw;
  width: 26vw;
  border-radius: 15%;
  padding: 2vw;
  border: 2vw aquamarine;
}

.application {
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.application h1 {
  text-align: center;
  color: skyblue;
  padding: 10px;
  font-size: clamp(1rem, 5vw, 2rem);
  text-decoration: overline;
}

.application p {
  color: #ffff;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.application p a {
  text-decoration: none;
  color: skyblue;
}

.application p a:hover {
  color: darkblue;
}

.applicationTable {
  width: 75%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 20px auto;
  font-size: clamp(0.7rem, 3vw, 1.2rem);
  font-style: oblique;
}

.applicationTable th, .applicationTable td {
  padding: 12px;
  text-align: left;
  border-radius: 50vw;
  transition: all 0.3s ease;
  position: relative;
}

.applicationTable tbody tr {
  transition: all 1s ease;
  position: relative;
}

.applicationTable th {
  background-color: rgb(101, 233, 101); 
  color: white;
  text-align: center;
}

.applicationTable td {
  background-color: transparent;
  color: white;
  padding: 10px;
}

.applicationTable tr:hover td {
  background-color: #f1f1f1;
  color: #000;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 1.5);
  padding: 10px;
}

.applicationTable tbody tr:hover {
  transform: translateY(-7px) scale(1.05);
}

.gradientDivider {
  height: 10px;
  background: linear-gradient(to right, #28A745, #007BFF);
  width: 85vw;
  border-radius: 5px;
  margin: 0 auto;
}

.gradientDividerAnnouncement {
  height: 20vh;
  background: linear-gradient(to right, #28A745, #007BFF);
  width: 30px;
  border-radius: 5px;
}

.logoAside {
  display: grid;
  grid-row: auto auto;
}

.contacts {
  display: grid;
  grid-template-rows: auto;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contacts p {
  text-align: center;
  color: white;
  font-size: clamp(1rem, 4vw, 1.5rem);
  padding: 10px;
}

.contacts p span {
  color: skyblue;
  display: inline-block; 
  transition: all 0.3s ease;
}

.contacts p span:hover {
  color: aqua;
  transform: translateY(-5px) scale(1.05);
  transition: all 1s ease-out;
  text-shadow: 0 7px 5px rgba(0, 255, 255, 0.4);
}

.contactsCommittees {
  display: grid;
  grid-template-columns: auto auto;
  gap:1.1rem;
  max-width: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contactsCommittees h1 {
  color: aquamarine;
  font-size: clamp(1rem, 4vw, 1.5rem);
  text-decoration: overline;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactsCommittees p {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.contactsCommittees p span {
  color: skyblue;
  display: inline-block; 
  transition: all 0.3s ease;
}

.contactsCommittees p span:hover {
  color: aqua;
  transform: translateY(-5px) scale(1.05);
  transition: all 0.8s ease-in-out;
  text-shadow: 0 7px 5px rgba(0, 255, 255, 0.4);
}

.lwsListings {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3rem;
}

@media (max-width: 768px) {
  .contactsCommittees {
    display: grid;
    grid-template-columns: auto;
    gap:1.1rem;
    max-width: 100%;
  }

  .lwsListings {
    display: grid;
    grid-template-columns: auto;
    gap:1.1rem;
    max-width: 100%;
  }
}

